/* ** font-face ** */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* // font-face // */
*,*:before, *:after {box-sizing: border-box;}

html {
    height: 100%;
    scroll-behavior: smooth;
}

input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
textarea:focus::-webkit-input-placeholder {color: transparent;}
textarea:focus::-webkit-input-placeholder {color: transparent;}
textarea:focus:-moz-placeholder {color: transparent;}
textarea:focus::-moz-placeholder {color: transparent;}
textarea:focus:-ms-input-placeholder {color: transparent;}

h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
img {max-width: 100%; height: auto; display: block;}
a {color: inherit;text-decoration: none;}
ul {padding: 0;margin: 0;list-style: none;}
button {padding: 0; margin: 0;background-color: transparent;border: none;cursor: pointer; outline: none; font-family: initial;}
/* ** input ** */
input {background-color: transparent; border: none; padding: 0; margin: 0;}
input,textarea {font-family: inherit; color: inherit; resize: none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type='number'] {-moz-appearance: textfield;}
input:focus,textarea:focus,select {outline: none;transition: all .2s linear;}
input::placeholder,textarea::placeholder {color: inherit;}
/* // input // */
/* ** select ** */
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;border: none;display: inline-block;}
/* // select // */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--white-background);
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 32px;
}
.section-content {
    padding: 40px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    background: #4877A3;
    background: linear-gradient(0deg, #4877A3, #D559C5);
}
.section__header {
    text-align: center;
}
.header__top {
    
}
.header__top-btn {
    font-size: 18px;
    background-color: #fff;
    padding: 4px 14px;
    border-radius: 8px;
}
.content {
    margin: 30px 0 0 0;
}
.content__wrap {
    display: grid;
    gap: 20px;
}
.content__col {
    border: 1px solid #bababa;
    border-radius: 6px;
    box-shadow: 9px 11px 17px -2px rgba(34, 60, 80, 0.2);
}
.content__item {
    display: flex;
}
.content__title {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-right: 1px solid #bababa;
}
.content__title h2 {
    font-size: 18px;
}
.content__link {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    text-align: center;
}
.content__link a {
    font-size: 14px;
}
.content__link a:hover {
    text-decoration: underline;
}
.content__number {
    font-size: 14px;
    padding: 10px;
    border-right: 1px solid #bababa;
}
.content__count {
    width: 100%;
    max-width: 82px;
    padding: 10px;
    border-left: 1px solid #bababa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__count-number {
    font-size: 14px;
}

.content__total {
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px 0 0;
}
.content__total span {
    margin: 0 0 0 10px;
}







.tables {
    margin: 50px 0;
}
.tables table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
}
.tables table thead {
    background-color: #4877A3;
    position: sticky;
    top: 0;
}
.tables table thead tr th {
    border: 1px solid #000;
    padding: 10px;
}
.tables table tbody tr td {
    border: 1px solid #000;
    padding: 10px;
}
.th-1 {
    width: 5%;
}
.th-2 {
    width: 20%;
}
.th-3 {
    width: 50%;
}
.th-4 {
    width: 20%;
}
.th-5 {
    width: 20%;
}
.th-6 {
    width: 5%;
}
























.footer {
    height: 50px;
    background: #88b3db;
    background: linear-gradient(0deg, #56a348, #6e59d5);
}







.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s linear, opacity .4s linear;
}
.modal.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.modal__wrap {
    background-color: #fff;
    border-radius: 12px;
    position: relative;
}
.modal__wrap.modal__signin-wrap {
    width: 100%;
    max-width: 500px;
    box-shadow:  0px 0px 32px -2px rgba(245, 245, 245, 1);
}
.modal__header {
    border-bottom: 1px solid #000;
    padding: 20px;
}
.modal__header-close {
    position: absolute;
    top: 8px;
    right: 8px;
}
.modal__body {
    padding: 20px;
}
.modal__signin-field {

}
.modal__signin-field {
    margin: 0 0 20px 0;
}
.modal__signin-field-text {
    display: inline-block;
    margin: 0 0 6px 0;
}
.modal__signin-field-input {
    width: 100%;
    height: 34px;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 0 8px;
}
.modal__signin-field-error {
    font-size: 12px;
    color: #bf4747;
}
.modal__signin-btn {
    color: #fff;
    font-size: 16px;
    background-color: #4877A3;
    border-radius: 6px;
    padding: 5px 20px;
}





.overlow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 50;
}
.overlow.active {
    display: block;
}